@import "generalmarkup.css";

.adress{
	margin- left 30px
}
.hours{
	margin-left: 30px;
}
.contactinfo{
	margin-left: 30px;
}

table {
	font-family: arial, sans-serif;
        border-collapse: collapse;
	width: 80%;
}
td, th {
        border: 1px solid black;
	text-align: left;
	padding: 5px;
}

tr:nth-child(even) {
	background-color: #ce6136;
}

@media only screen and (min-width: 1000px){
.adress{
	float: right;
	width: 40%;
}
.hours{
	margin-left: 30px;
	float: left;
	width: 30%;
}
.contactinfo{
	float: left;
	width: 20%;
}
}