html,body{
    background-color: rgb(250, 246, 233);
    margin: 0;
    padding:0;
}

footer{
  color: #f1f1f1;
  background-color: rgb(36, 35, 35);
  font-size: 16;
  width: auto;
}
.footer-links{
  text-decoration: none;
  color: #f1f1f1;
  float: left;
  left: 10px;
}

.topbar{
    background-color: rgb(206, 97, 54);
    display: flex;
    position: sticky;
    width: 50%;
    top:0;
    color: aliceblue;
}

/*modern browser have bad support for custom borders
in order for it to work you need to asign it through id*/

#time-table{
border: 1px solid white;
}
.shadowcast{
  box-shadow: 0px 8px 16px 0px rgba(19, 19, 19, 0.2);
}

div.topbar{
  width: 100%;
}

.thename{
  font-family:'Gill Sans', 'Gi  l Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbutton{
  height: 40px !important;
  width: 40px;
  border: none;
  background-image: url(../media/output-onlinepngtools.png) !important;
  cursor: pointer;
  margin-right: 10px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.navbutton:hover, .navbutton:focus{
    background-color: #ff674d;
}

.navbuttoncontent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
.navbuttoncontent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.navbuttoncontent a:hover {background-color: #ddd;}
.show {display: block;}



.footer{
  background-color: rgb(71, 71, 71);
  height: 100px;
  color: #f1f1f1;
  position: fixed;
  bottom: 0%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*mobile users*/
@media only screen and (max-width: 600px){
  .desktop-user{
    visibility:hidden;
    position: fixed;
    width: 0%;
  }
  .mobile-user{
    visibility: visible;
    position: absolute;
    width: 100%;
  }
  .topbar{
    height: 50px;
  }
  nav.topbar{
    width: 20%;
    margin-left: auto; 
    margin-right: 0;
  }
  .cookie-icon{
    height: 30px;
    width: 30px;
    padding: 10px;
  }
  footer{
    height: 50px;
  }
  .maincontent{
    min-height: calc(100vh - 50px);
  }
  .thename{
    left: 50px;
  }
}
/*desktop or bigger screen*/
@media only screen and (min-width: 601px){
.desktop-user{
  visibility: visible;
}
.mobile-user{
  visibility: hidden;
}

.topbar a{
 color: aliceblue;
 padding: 12px;
 font-size: 14;
 text-decoration: none;
}
.thename{
  left: 80px;
}
.cookie-icon{
width: 50px;
height: 50px;
padding: 10px;
}
footer{
  height: 200px;
}
.maincontent{
  min-height: calc(100vh - 200px);
}
}

#beterlevenkeurmerk{
  float: left;
  width: 200px;
  height: auto;
}

#openingtimes{
  float: left;
  width: 200px;
  left: 10px;
}