html,body{
    background-color: rgb(250, 246, 233);
    margin: 0;
    padding:0;
}


.topbar{
    background-color: rgb(206, 97, 54);
    display: flex;
    position: sticky;
    width: 50%;
    top:0;
    color: aliceblue;
}
.shadowcast{
  box-shadow: 0px 8px 16px 0px rgba(19, 19, 19, 0.2);
}
div.topbar{
    width: 100%;
}
.thename{
  font-family:'Gill Sans', 'Gi  l Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*markup for navigation button in mobile mode*/
.navbutton{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border-color: rgb(247, 240, 177);
  background-image: url(../media/nav-icon.png);
  cursor: pointer;
  right: 10px;
}
.navbutton:hover, .navbutton:focus{
    background-color: #ff674d;
}

.navbuttoncontent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
.navbuttoncontent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.navbuttoncontent a:hover {background-color: #ddd;}
.show {display: block;}

.navigation_links{
  margin: 0;
  padding: 10;
  left: 50%;
}

.footer{
  background-color: rgb(71, 71, 71);
  height: 100px;
  color: #f1f1f1;
  position: fixed;
  bottom: 0%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*mobile users*/
@media only screen and (max-width: 600px){
  .desktop_user{
    visibility:hidden;
    position: fixed;
    width: 0%;
  }
  .mobile_user{
    visibility: visible;
    position: absolute;
    width: 100%;
  }
  .topbar{
    height: 50px;
  }
  .cookie_icon{
    height: 30px;
    width: 30px;
    padding: 10px;
  }
}
/*desktop or bigger screen*/
@media only screen and (min-width: 601px){
.desktop_user{
  visibility: visible;
}
.mobile_user{
  visibility: hidden;
}
.topbar a{
 color: aliceblue;
 padding: 12px;
 font-size: 14;
 text-decoration: none;
}
.cookie_icon{
width: 50px;
height: 50px;
padding: 10px;
}
}