@import "generalmarkup.css";

#maintitle{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: 100px;
    background-image: url(../media/whitecookie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: rgb(77, 227, 247);
}

#maincontent{
    padding:0%;
}

#movingcookies{
    float: right;
    height: 300px;
}

@media only screen and (max-width: 600px){
    #movingcookies{
        height: 100px;
    }
}

.article-left{
    background-color: rgb(181, 219, 213);
    display: block;
}

.article-right{
 background-color: aliceblue;
}